.env
.venv/
__pycache__/
*.py[cod]
.DS_Store
.ipynb_checkpoints/

data/raw_documents/*
data/processed_chunks/*
data/index/*
data/fine_tuning/*
data/evaluation/results_*.csv
outputs/
wandb/
runs/

!data/raw_documents/.gitkeep
!data/processed_chunks/.gitkeep
!data/index/.gitkeep
!data/fine_tuning/.gitkeep
!data/evaluation/sample_questions.csv
